
img{
    width: 100%;
}
.jumbotron
{
    background-color:#2d333d;
    margin-bottom:0%;
}

.title-class
{
    color:white;
    font-size: 25px;
    font-family: 'Redressed', cursive;
}
body {
    overflow-x: hidden; 
}
.form-group
{
    padding-left:5%;
}
md-toolbar
{
    font-size: 25px;   
    font-family: 'Redressed', cursive;
}
.container
{
font-size:16px;
}
.col-md-7
{
    font-size: 16px;
    font-family: 'Redressed', cursive;


}
